logs/Resnet/events.out.tfevents.1703051070.DESKTOP-HNBQIR6 
logs/Resnet/events.out.tfevents.1703049804.DESKTOP-HNBQIR6 
"logs/Resnet/events.out.tfevents.1703051070.DESKTOP-HNBQIR6" 
"logs/Resnet/events.out.tfevents.1703049804.DESKTOP-HNBQIR6" 
logs/ 
